body {
    font-weight:Bold;
    color: #606c76;
    margin:0;
    padding: 3em 6em;
    font-family: tahoma, arial, sans-serif;
}
h1 {
    font-size: 2.5em;
    font-weight:  Normal;
    color: #418A8A;
}
h2 {
    font-size: 1.7em;
    color: #469898;
}
table {
    border: 1px solid #69c;
}
th {
    font-weight: normal;
    color: #039;
    border-bottom: 1px dashed #69c;
    padding: 12px 17px;
}
td {
    color: #669;
    padding: 7px 17px;
}
tr:hover td {
    background: #ccddff;
}
input {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}